<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.min.js"></script>
    <title>OpenCharityDonatorsCab</title>
</head>
<body>
<div class="container">
    <div class="row">
        <h1>Welcome to OpenCharityDonatorsCab!</h1>
        <form action="/api/user/setNewPassword?token=<%=token%>" method="post">
            <input class="form-control" type="password" name="password" placeholder="Enter new password"/>
            <input class="form-control" type="submit" value="Send" />
        </form>
    </div>
</div>
</body>
</html>