<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.min.js"></script>

  <title>oc_client_back</title>
  <style>
    .resp {
      overflow-x: scroll;
      min-height: 100px;
      white-space: nowrap;
    }
    .pan {
      margin-left: 1em;
      margin-right: 1em;
    }
  </style>
</head>
<body>
  <div class="pan">
    <h1>oc_client_back testAPI</h1>

    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
              Tag & Source API
            </a>
          </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse">
          <div class="panel-body pan">
            <div class="row">
              <form id="ts">
              <div class="radio">
                <label>
                  <input type="radio" name="choice" value="tag" checked>
                  Tag
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="choice" value="source">
                  Source
                </label>
              </div>
              </form>
            </div>

            <div class="row">
              <h3>GET all</h3>
              <div class="col-sm-6">
                <div class="input-group">
                  <span class="input-group-addon">request</span>
                  <input type="text" class="form-control" id="allRequestTS">
                  <span class="input-group-btn">
                    <button class="btn btn-success" type="button" onClick="allTS()">Send</button>
                  </span>
                </div>
              </div>
              <div class="col-sm-6 resp" id="respAllTS"></div>
            </div>

            <div class="row">
              <h3>POST find</h3>
              <div class="col-sm-6">
                <div class="input-group">
                  <span class="input-group-addon">tag or source</span>
                  <input type="text" class="form-control" id="findPropTS" value="[]">
                  <span class="input-group-btn">
                    <button class="btn btn-success" type="button" onClick="findTS()">Send</button>
                  </span>
                </div>
              </div>
              <div class="col-sm-6 resp" id="respFindTS"></div>
            </div>

            <div class="row">
              <h3>POST add</h3>
              <div class="col-sm-6">
                <div class="input-group">
                  <span class="input-group-addon">tag or source</span>
                  <input type="text" class="form-control" id="addPropTS" value="[]">
                  <span class="input-group-btn">
                    <button class="btn btn-success" type="button" onClick="addTS()">Send</button>
                  </span>
                </div>
              </div>
              <div class="col-sm-6 resp" id="respAddTS"></div>
            </div>

            <div class="row">
              <h3>POST edit</h3>
              <div class="col-sm-6">
                <div class="input-group">
                  <span class="input-group-addon">tag or source</span>
                  <input type="text" class="form-control" id="editPropTS" value="['old','new']">
                  <span class="input-group-btn">
                    <button class="btn btn-success" type="button" onClick="editTS()">Send</button>
                  </span>
                </div>
              </div>
              <div class="col-sm-6 resp" id="respEditTS"></div>
            </div>

            <div class="row">
              <h3>POST del</h3>
              <div class="col-sm-6">
                <div class="input-group">
                  <span class="input-group-addon">tag or source</span>
                  <input type="text" class="form-control" id="delPropTS" value="[]">
                  <span class="input-group-btn">
                    <button class="btn btn-success" type="button" onClick="delTS()">Send</button>
                  </span>
                </div>
              </div>
              <div class="col-sm-6 resp" id="respDelTS"></div>
            </div>


          </div>
        </div>
      </div>

      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                Settings API
              </a>
            </h4>
          </div>
          <div id="collapse2" class="panel-collapse collapse">
            <div class="panel-body pan">

              <div class="row">
                <div class="col-sm-3">
                  <form id="settings">
                    <div class="radio">
                      <label>
                        <input type="radio" name="choice" value="0" checked onClick="getList()">
                        Default
                      </label>
                    </div>
                    <div class="radio">
                      <label>
                        <input type="radio" name="choice" value="-1" onClick="getList()">
                        Development
                      </label>
                    </div>
                  </form>
                </div>
                <div class="col-sm-3">
                  <button class="btn btn-success" type="button" onClick="setList()">Set</button>
                </div>
                <div class="col-sm-6 resp" id="respSet"></div>
              </div>

              <div class="row">
                <h3>POST setOrganizationList</h3>
                <p>Org addresses:</p>
                <textarea class="form-control" id="listOrg" rows="4"></textarea>
                <p>Organization abi:</p>
                <textarea class="form-control" id="abiOrg" rows="4"></textarea>
                <p>CharityEvent abi:</p>
                <textarea class="form-control" id="abiCE" rows="4"></textarea>
                <p>IncomingDonation abi:</p>
                <textarea class="form-control" id="abiID" rows="4"></textarea>
                <p>Token abi:</p>
                <textarea class="form-control" id="abiToken" rows="4"></textarea>
                </div>
              </div>

            </div>
          </div>
        </div>

    </div>
  </div>

  <script src="testAPI.js"></script>
</body>
</html>